<!-- {% extends "base.html" %} -->
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<script src="{% static 'js/web3.js/dist/web3.min.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
{% block main_body %}
{% csrf_token %}
<div class="left-sidebar">

</div>

<div class="right-sidebar">
    <div class="wrapper">
        <div class="container">
            <div id="coinbaseAccount">
                <h2>Coin-base Account : </h2>
            </div>
        </div>
        <div class="container">
            <div id="accountBalance">
                <h2>Account's balance : </h2>
            </div>
        </div>
        <div class="container">
            <div>
                <h1>Registering Data/Software</h1>
                <h2 id="register"></h2>
                <label for="name" class="col-lg-2 control-label">Data Name</label>
                <input id="dataName" type="text">
                <label for="url" class="col-lg-2 control-label">Data Url</label>
                <input id="dataUrl" type="text">
                <label for="hash" class="col-lg-2 control-label">Data Hash</label>
                <input id="dataHash" type="text">
                <label for="price" class="col-lg-2 control-label">Price</label>
                <input id="dataPrice" type="text">
                <button id="dataRegButt">Register</button>
                <div id="dataRegResult"></div>
            </div>
            <div id="dataList">
            </div>
        </div>
        <div class="container">
            <div>
                <h1>Purchasing</h1>
                <h2 id="purchase"></h2>
                <label for="purchaserIdent" class="col-lg-2 control-label">Purchaser Ident</label>
                <input id="purchaserIdent" type="text">
                <label for="dataName" class="col-lg-2 control-label">Data Name</label>
                <input id="dataName" type="text">
                <button id="dataPurchseButt">Purchase</button>
                <div id="dataPurchaseResult"></div>
            </div>
            <div id="purchaserList">
            </div>
        </div>
        <div class="container">
            <h1>Verification Purchaser</h1>
            <h2 id="verifyPurchaser"></h2>
            <label for="purchaserIdent" class="col-lg-2 control-label">Purchaser Ident</label>
            <input id="purchaserIdent" type="text">
            <label for="dataName" class="col-lg-2 control-label">Data Name</label>
            <input id="dataName" type="text">
            <button id="verifyResultButt">Verify</button>
            <div id="verifyResult"></div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer_javascript %}

{% endblock %}