{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>MP Manager</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <!--Loading bootstrap css-->
    <link type="text/css" rel="stylesheet" href="{% static 'styles/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <link type="text/css" rel="stylesheet" href="{% static 'styles/jquery-ui-1.10.4.custom.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'styles/font-awesome.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'styles/animate.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'styles/all.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'styles/style-responsive.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'styles/zabuto_calendar.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'styles/pace.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'styles/jquery.news-ticker.css' %}">
    
    <link href="{% static 'datatables/jquery.dataTables.css' %}" rel="stylesheet" />
    <link href="{% static 'datatables/dataTables.autoFill.css' %}" rel="stylesheet" />
    <link href="{% static 'datatables/dataTables.colReorder.css' %}" rel="stylesheet" />
    <link href="{% static 'datatables/dataTables.colVis.css' %}" rel="stylesheet" />
    <link href="{% static 'datatables/dataTables.fixedColumns.css' %}" rel="stylesheet" />
    <link href="{% static 'datatables/dataTables.fixedHeader.css' %}" rel="stylesheet" />
    <link href="{% static 'datatables/dataTables.scroller.css' %}" rel="stylesheet" />
    <link href="{% static 'datatables/dataTables.tableTools.css' %}" rel="stylesheet" />
    
    <link href="{% static 'styles/wysiwyg/bootstrap-wysihtml5.css' %}" rel="stylesheet" />
    <link href="{% static 'styles/wysiwyg/wysiwyg-color.css' %}" rel="stylesheet" />
    
    <link href="{% static 'styles/daterangepicker-bs3.css' %}" rel="stylesheet" type="text/css" />
   
    <link href="{% static 'select2/css/select2.min.css' %}" type="text/css" rel="stylesheet" />
    {% block header_inc %} {% endblock %}
</head>
<body>
    <div>
        <!--BEGIN BACK TO TOP-->
        <a id="totop" href="#"><i class="fa fa-angle-up"></i></a>
        <!--END BACK TO TOP-->
        <!--BEGIN TOPBAR-->
        <div id="header-topbar-option-demo" class="page-header-topbar">
            <nav id="topbar" role="navigation" style="margin-bottom: 0;" data-step="3" class="navbar navbar-default navbar-static-top">

            </nav>
        </div>
        <!--END TOPBAR-->
        <div id="wrapper">
            <!--BEGIN SIDEBAR MENU-->
            <nav id="sidebar" role="navigation" data-step="2" data-intro="Template has &lt;b&gt;many navigation styles&lt;/b&gt;"
                data-position="right" class="navbar-default navbar-static-side">
                <div class="sidebar-collapse menu-scroll">
                    
                </div>
            </nav>
            <!--END SIDEBAR MENU-->
            <!--BEGIN PAGE WRAPPER-->
            <div id="page-wrapper">
                <div class="main_connent">                    
                    <div class="dashboard-wrapper">
                        {% block main_body %}{% endblock %}					
                    </div>
                    
                </div>
                <!--END CONTENT-->
                <!--BEGIN FOOTER-->
                <div id="footer">
                    <div class="copyright">
                        <p>@ 2016 <a href="http://netvisiontel.com/" target="_blank"> MP Manager v1.2 - Netvision Telecom Inc.</a>. All Rights Reserved</p>    
                    </div>
                </div>
                <!--END FOOTER-->
            </div>
            <!--END PAGE WRAPPER-->
        </div>
    </div>

    {% block footer_javascript %} {% endblock %}
</body>
</html>
