
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<script src="{% static 'js/web3.js/dist/web3.min.js' %}"></script>
<script src="{% static 'js/jquery-3.3.1.js' %}"></script>
{% block main_body %}
{% csrf_token %}
<div class="left-sidebar">

</div>

<div class="right-sidebar">
    <div class="wrapper">
        <div class="container">
            <div id="coinbaseAccount">
                <h2>Coin-base Account : </h2><h3>{{coinbase}}</h3>
                <h2>Account's balance : </h2><h3>{{ether}}</h3>
            </div>
        </div>
        <div class="container">
            <div id="accountBalance">
            </div>
        </div>
        <div class="container">
            <button id="refreshButt">Refresh Data</button>
        </div>
        <div class="container">
            <div>
                <h1>Registering Data/Software</h1>
                <h2 id="register"></h2>
                <label for="dataName" class="col-lg-2 control-label">Data Name</label>
                <input id="dataName" type="text" value="0xE23B6a99A583d0fD26Dbf4D27BDe023C097A18dB">
                <label for="dataUrl" class="col-lg-2 control-label">Data Url</label>
                <input id="dataUrl" type="text" value="0xE23B6a99A583d0fD26Dbf4D27BDe023C097A18dB">
                <label for="dataHash" class="col-lg-2 control-label">Data Hash</label>
                <input id="dataHash" type="text" value="0xE23B6a99A583d0fD26Dbf4D27BDe023C097A18dB">
                <label for="dataPrice" class="col-lg-2 control-label">Price</label>
                <input id="dataPrice" type="text" value="1000">
                <button id="dataRegButt">Register</button>
                <div id="dataRegResult"></div>
            </div>
            <div id="dataList">
            </div>
        </div>
        <div class="container">
            <div>
                <h1>Purchasing</h1>
                <!--
                <h2 id="purchase"></h2>
                <label for="purchaserIdent" class="col-lg-2 control-label">Purchaser Ident</label>
                <input id="purchaserIdent" type="text">
                <label for="dataName" class="col-lg-2 control-label">Data Name</label>
                <input id="dataName" type="text">
                -->
                
                <label for="dataName" class="col-lg-2 control-label">Data Name</label>
                <select id="purchasingDataList">
                </select>
                <button id="dataPurchseButt">Purchase</button>
                <div id="dataPurchaseResult"></div>
            </div>
            <div id="purchaserList">
            </div>
        </div>
        <div class="container">
            <div>
                <h1>Data's Purchaser List</h1>
                <!--
                <h2 id="purchase"></h2>
                <label for="purchaserIdent" class="col-lg-2 control-label">Purchaser Ident</label>
                <input id="purchaserIdent" type="text">
                <label for="dataName" class="col-lg-2 control-label">Data Name</label>
                <input id="dataName" type="text">
                -->
                
                <label for="dataName" class="col-lg-2 control-label">Data Name</label>
                <select id="dataPurchaserList">
                </select>
                <button id="dataPurchaserListButt">Purchase</button>
                <div id="dataPurchaserListResult"></div>
            </div>
            <div id="dataPurchaserResultList">
            </div>
        </div>
        <div class="container">
            <h1>Verification Purchaser</h1>
            <h2 id="verifyPurchaser"></h2>
            <label for="purchaserIdent" class="col-lg-2 control-label">Purchaser Ident</label>
            <input id="purchaserIdent" type="text">
            <!-- label for="dataName" class="col-lg-2 control-label">Data Name</label>
            <input id="dataName" type="text" -->
            <label for="dataName" class="col-lg-2 control-label">Data Name</label>
            <select id="dataVerifyingList">
            </select>
            <button id="verifyResultButt">Verify</button>
            <div id="verifyResult"></div>
        </div>
        <div class="container">
            <h1>Purchaser History</h1>
            <h2 id="purchaser_history"></h2>
            <label for="purchaserIdent_history" class="col-lg-2 control-label">Purchaser Ident</label>
            <input id="purchaserIdent_history" type="text">
            <!-- label for="dataName" class="col-lg-2 control-label">Data Name</label>
            <input id="dataName" type="text" -->
            <button id="purchaserHistoryButt">History</button>
            <div id="purchaserHistoryResult"></div>
        </div>
        <div class="container">
            <h1>Purchasing History</h1>
            <h2 id="purchasingTitle_history"></h2>
            <!-- label for="purchasingLbl_history" class="col-lg-2 control-label">Purchasing Ident</label -->
            <!-- input id="purchaserIdent_history" type="text" -->
            <!-- label for="dataName" class="col-lg-2 control-label">Data Name</label>
            <input id="dataName" type="text" -->
            <button id="purchasingHistoryButt">History</button>
            <div id="purchasingHistoryResult"></div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer_javascript %}
    <script>
        $(document).ready(function(){
            $("#dataRegButt").click(function() {
                var dataName    = $('#dataName').val();
                var dataHash    = $('#dataHash').val();
                var dataUrl     = $('#dataUrl').val();
                var dataPrice   = $('#dataPrice').val();
                console.log(dataName, dataHash, dataUrl, dataPrice)
                var csrf_token  = document.getElementsByName('csrfmiddlewaretoken')[0].value;
                var request     = $.ajax({
                    url     : "{% url 'blMan:ajax_dataRegister'%}",
                    type    : "POST",
                    data    : {dataName: dataName, dataHash: dataHash, dataUrl: dataUrl, dataPrice: dataPrice, csrfmiddlewaretoken: csrf_token},
                    success : function(data){
                        console.log(data)
                        var res_obj = jQuery.parseJSON(data);
                    },
                });
            });
            $("#dataPurchseButt").click(function() {
                var dataName    = $('#purchasingDataList').val();
                console.log(dataName)
                var csrf_token  = document.getElementsByName('csrfmiddlewaretoken')[0].value;
                var request     = $.ajax({
                    url     : "{% url 'blMan:ajax_dataPurchase'%}",
                    type    : "POST",
                    data    : {dataName: dataName, csrfmiddlewaretoken: csrf_token},
                    success : function(data){
                        console.log(data)
                        var res_obj = jQuery.parseJSON(data);
                    },
                });
            });
            $("#dataPurchaserListButt").click(function() {
                var dataName    = $('#dataPurchaserList').val();
                console.log(dataName)
                var csrf_token  = document.getElementsByName('csrfmiddlewaretoken')[0].value;
                var request     = $.ajax({
                    url     : "{% url 'blMan:ajax_dataPurchaserListQuery'%}",
                    type    : "POST",
                    data    : {dataName: dataName, csrfmiddlewaretoken: csrf_token},
                    success : function(data){
                        console.log(data)
                        var res_obj = jQuery.parseJSON(data);
                        var htmlGen='';
                        for (i = 0; i < res_obj.length; i++) {
                            htmlGen+="<div class='grid_row'><div class='purchaserIndex'>"+res_obj[i][0]+"</div><div class='purchaserIdent'>"+res_obj[i][1]+"</div></div>"
                        }
                        $("#dataPurchaserResultList").html(htmlGen);
                    },
                });
            });
            $("#verifyResultButt").click(function() {
                var purchaserIdent    = $('#purchaserIdent').val();
                var dataName    = $('#dataVerifyingList').val();
                console.log(dataName)
                var csrf_token  = document.getElementsByName('csrfmiddlewaretoken')[0].value;
                var request     = $.ajax({
                    url     : "{% url 'blMan:ajax_dataPurchaseVerify'%}",
                    type    : "POST",
                    data    : {dataName: dataName, purchaserIdent: purchaserIdent, csrfmiddlewaretoken: csrf_token},
                    success : function(data){
                        console.log(data)
                        var res_obj = jQuery.parseJSON(data);
                        var htmlGen='';
                        if(res_obj['result']){
                            htmlGen+="<h2>Purchaser Ident is Authorized</h2>"
                        }else{
                            htmlGen+="<h2>Purchaser Ident is not Authorized</h2>"
                        }
                        $("#verifyResult").html(htmlGen);
                    },
                });
            });
            function ajax_dataListQuery(){
                var csrf_token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
                var request = $.ajax({
                    url: "{% url 'blMan:ajax_dataListQuery' %}",
                    type: "POST",
                    data: {csrfmiddlewaretoken: csrf_token },
                    success: function(data) {
                        //console.log(data)
                        var res_obj = jQuery.parseJSON(data);
                        var htmlGen='';
                        var purchasingDataList_html='';
                        for (i = 0; i < res_obj.length; i++) {
                            htmlGen+="<div class='grid_row'><div class='dataIndex'>"+res_obj[i][0]+"</div><div class='dataPayee'>"+res_obj[i][1]+"</div><div class='dataPrice'>"+res_obj[i][2]+"</div><div class='dataName'>"+res_obj[i][3]+"</div><div class='dataHash'>"+res_obj[i][4]+"</div><div class='dataUrl'>"+res_obj[i][5]+"</div></div>"
                            purchasingDataList_html+="<option>"+res_obj[i][3]+"</option>"
                        }
                        $("#dataList").html(htmlGen);
                        $("#purchasingDataList").html(purchasingDataList_html);
                        $("#dataPurchaserList").html(purchasingDataList_html);
                        $("#dataVerifyingList").html(purchasingDataList_html);
                    },
                });
            }
            
            $("#purchaserHistoryButt").click(function() {
                var purchaserIdent    = $('#purchaserIdent_history').val();
                //console.log(dataName)
                var csrf_token  = document.getElementsByName('csrfmiddlewaretoken')[0].value;
                var request     = $.ajax({
                    url     : "{% url 'blMan:ajax_purchaserHistoryQuery'%}",
                    type    : "POST",
                    data    : {purchaserIdent: purchaserIdent, csrfmiddlewaretoken: csrf_token},
                    success : function(data){
                        console.log(data)
                        var res_obj = jQuery.parseJSON(data);
                        var htmlGen='';
                        for (i = 0; i < res_obj.length; i++) {
                            htmlGen+="<div class='grid_row'><div class='purchaserIndex'>"+res_obj[i][1]+"</div><div class='purchaserIdent'>"+res_obj[i][2]+"</div><div class='purchaserIndex'>"+res_obj[i][3]+"</div><div class='purchaserIndex'>"+res_obj[i][4]+"</div></div>"
                        }
                        $("#purchaserHistoryResult").html(htmlGen);
                    },
                });
            });
            
            $("#purchasingHistoryButt").click(function() {
                //var purchaserIdent    = $('#purchaserIdent_history').val();
                //console.log(dataName)
                var csrf_token  = document.getElementsByName('csrfmiddlewaretoken')[0].value;
                var request     = $.ajax({
                    url     : "{% url 'blMan:ajax_purchasingHistoryQuery'%}",
                    type    : "POST",
                    data    : {csrfmiddlewaretoken: csrf_token},
                    success : function(data){
                        console.log(data)
                        var res_obj = jQuery.parseJSON(data);
                        var htmlGen='';
                        for (i = 0; i < res_obj.length; i++) {
                            htmlGen+="<div class='grid_row'><div class='purchaserIndex'>"+res_obj[i][1]+"</div><div class='purchaserIdent'>"+res_obj[i][2]+"</div><div class='purchaserIndex'>"+res_obj[i][3]+"</div><div class='purchaserIndex'>"+res_obj[i][4]+"</div></div>"
                        }
                        $("#purchasingHistoryResult").html(htmlGen);
                    },
                });
            });
            
            $("#refreshButt").click(function() {
                ajax_dataListQuery();
            });
            function system_statistics_callback() {
                ajax_dataListQuery();
                setTimeout(system_statistics_callback, 5000);
            }
            //setTimeout(system_statistics_callback, 5000);
        })
    </script>
{% endblock %}