{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dashboard V.1 | Kiaalap - Kiaalap Admin Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <!-- favicon
		============================================ -->
    <!-- link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" -->
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.transitions.css' %}">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- educate icon CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/educate-custon-icon.css' %}">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/scrollbar/jquery.mCustomScrollbar.min.css' %}">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/metisMenu/metisMenu.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/metisMenu/metisMenu-vertical.css' %}">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/calendar/fullcalendar.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/calendar/fullcalendar.print.min.css' %}">
    <!-- style CSS
		============================================ -->
    <!-- <link rel="stylesheet" href="{% static 'style.css' %}"> -->
    <!-- jquery-confirm CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/jquery-confirm.min.css' %}">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/toastr.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <!-- modernizr JS
		============================================ -->
    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
</head>

<body>
    {% csrf_token %}
    <div class="navbar">
        <div class="navbar-inner">
            <div class="navbar-container">
                <!-- Navbar Barnd -->
                <div class="navbar-header pull-left  logo-brand">
                    <a href="#" class="navbar-brand">
                        <small>
                            <img style="width: 100%; height: 100%" src="{% static 'img/logo/logo.jpg' %}" alt="">
                        </small>
                    </a>
                </div>
                <div class="navbar-header pull-right">
                    <div class="navbar-account">
                        <ul class="account-area">
                          <li>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                                    <i class="setting-icon icon glyphicon glyphicon-cog "></i>
                                </a>
                                <ul class="pull-right dropdown-menu dropdown-tasks dropdown-arrow ">
                                  <li class="dropdown-header bordered-darkorange">
                                      <i class="fa fa-user"></i>
                                      Hi, Admin
                                  </li>
                                  <li>
                                      <a href="#">
                                          <div class="clearfix">
                                              <span class="pull-left">Change Password</span>
                                          </div>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          <div class="clearfix">
                                              <span class="pull-left">Logout</span>
                                          </div>
                                      </a>
                                  </li>
                                </ul>
                          </li>

                        </ul>
                        <!-- Settings -->
                    </div>
                </div>
                <!-- /Navbar Barnd -->
                <!-- Sidebar Collapse -->
                <div class="sidebar-collapse" id="sidebar-collapse">
                    <i class="collapse-icon fa fa-bars"></i>
                </div>
                <!-- /Sidebar Collapse -->
                <!-- Account Area and Settings --->
                <!-- /Account Area and Settings -->
            </div>
        </div>
    </div>
    <div class="page-container" style="height: 100%;">
      <div class="page-sidebar" id="sidebar">
                <!-- Page Sidebar Header-->
                <div class="sidebar-header-wrapper">
                    <input type="text" class="searchinput">
                    <i class="searchicon fa fa-search"></i>
                    <div class="searchhelper">Search menu</div>
                </div>
                <!-- /Page Sidebar Header -->
                <!-- Sidebar Menu -->
                <ul class="nav sidebar-menu">
                  <li class="active open">
                      <a href="#" class="menu-dropdown">
                          <i class="menu-icon glyphicon glyphicon-home"></i>
                          <span class="menu-text"> Home </span>

                          <i class="menu-expand"></i>
                      </a>

                      <ul class="submenu" style="display: block;">
                          <li>
                              <a href="#" href="#" data-toggle="modal" data-target="#modalDataRegForm">
                                  <span class="menu-text">Data Register</span>
                              </a>
                          </li>

                          <li  id="tradingHistoryButt">
                              <a href="#">
                                  <span class="menu-text">Trading History</span>
                              </a>
                          </li>
                      </ul>
                  </li>

                </ul>
                <!-- /Sidebar Menu -->
            </div>
      <div class="page-content">
        <div class="page-breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">Home</a>
                </li>
                <li class="active">Dashboard V.1</li>
            </ul>
        </div>
        <div class="index-content card-grid">

          <div class="container">
            <h2><strong>Select a target</strong> </h2>
            <div class="row" id="participantsList">
              <!-- <div class=" col-md-3">
                <i class="fa fa-ellipsis-v action-btn" aria-hidden="true" data-user-id="1"></i>
                <div class="card" data-id="1">
                  <div class="checkbox" data-id="1">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    </label>
                  </div>
                  <div class="card-image">
                    <img class="img-responsive" data-user-id="1" src="{% static 'img/logo/logo.jpg' %}">
                  </div>
                  <div class="card-title">
                    <h4>Investment Strategy</h4>
                  </div>
                  <div class="card-title">
                    <h4>$3000</h4>
                  </div>
                  <div class="card-content">
                    <ul class="container flex">
                      <li class="item flex-item">
                        <img class="img-responsive" src="http://115.78.1.103:8504/unknown.png">
                      </li>
                      <li class="item flex-item">
                        <img class="img-responsive" src="http://115.78.1.103:8504/unknown.png">
                      </li>
                      <li class="item flex-item">
                        <img class="img-responsive" src="http://115.78.1.103:8504/unknown.png">
                      </li>
                    </ul>
                  </div>
                </div>
              </div> -->
            </div>
            <h2><strong>Software/Data List</strong> </h2>
            <div class="row" id="availableAppList">

              <!-- <div class="col-sm-2 software">
                <i class="fa fa-ellipsis-v small-card-action" aria-hidden="true" data-icon-id="1" data-payee-id="robot"></i>
                <div class="item-img">
                  <img class="img-responsive" src="http://115.78.1.103:8504/unknown.png">
                </div>
                <h3 class="text-center">Title</h3>
                <div class="item-money">
                  <h3 class="text-center">Price:  3000 <img src="/static/img/hii_icons/eth_coin.png" alt=""></h3>
                  <h3 class="text-center">Total:  3000 <img src="/static/img/hii_icons/total.png" alt=""></h3>
                </div>
              </div> -->

            </div>
          </div>
        </div>
        <div class="footer-copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-copy-right">
                            <p>Copyright © 2018. All rights reserved. Template by <a href="http://www.netvisiontel.co.kr">Netvision Telecom</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
    <!-- Modal -->
    <div class="modal fade" id="modalDataRegForm" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myDataRegLabel">Data Register Form</h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <p class="statusMsg"></p>
                    <form role="form">
                        <div class="form-group">
                            <label for="inputDataName">Data Name</label>
                            <input type="text" class="form-control" id="inputDataName" placeholder="Enter Data Name"/>
                        </div>
                        <div class="form-group">
                            <label for="inputDataHash">Data Hash</label>
                            <input type="text" class="form-control" id="inputDataHash" placeholder="Enter Data Hash"/>
                        </div>
                        <div class="form-group">
                            <label for="inputDataURL">Data URL</label>
                            <input type="text" class="form-control" id="inputDataURL" placeholder="Enter Data URL"/>
                        </div>
                        <div class="form-group">
                            <label for="inputDataPrice">Data Price</label>
                            <input type="text" class="form-control" id="inputDataPrice" placeholder="Enter Data Price"/>
                        </div>
                    </form>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary submitBtn" onclick="submitDataRegForm()">SUBMIT</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalDataAccessAllowList" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myDataAccessAllowListLabel">Data Access Allowed List</h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <div class="container-fluid">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>Image</th>
                            <th>Title</th>
                          </tr>
                        </thead>
                        <tbody id="AccessAllowedList">

                        </tbody>
                      </table>
                    </div>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <!-- button type="button" class="btn btn-primary submitBtn" onclick="submitDataRegForm()">SUBMIT</button -->
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalHistoryList" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">History</h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="container-fluid" id="historyTable">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="sparkline8-list">
                                        <div class="sparkline8-hd">
                                            <div class="main-sparkline8-hd">
                                                <h5>Trading History</h5>
                                            </div>
                                        </div>
                                        <div class="sparkline8-graph">
                                            <div class="static-table-list">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Purchaser</th>
                                                            <th>Data Name</th>
                                                            <th>Data URL</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tradingHistoryTable">

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <!-- button type="button" class="btn btn-primary submitBtn" onclick="submitDataRegForm()">SUBMIT</button -->
                </div>
            </div>
        </div>
    </div>

    <!-- jquery
		============================================ -->
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- bootstrap Menu JS
		============================================ -->
    <script src="{% static 'js/BootstrapMenu.min.js' %}"></script>
    <!-- jquery-confirm
		============================================ -->
    <script src="{% static 'js/jquery-confirm.min.js' %}"></script>
    <!-- wow JS
		============================================ -->
    <script src="{% static 'js/wow.min.js' %}"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="{% static 'js/jquery-price-slider.js' %}"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="{% static 'js/jquery.meanmenu.js' %}"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!-- sticky JS
		============================================ -->
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <!-- counterup JS
		============================================ -->
    <script src="{% static 'js/counterup/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/counterup/waypoints.min.js' %}"></script>
    <script src="{% static 'js/counterup/counterup-active.js' %}"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="{% static 'js/scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'js/scrollbar/mCustomScrollbar-active.js' %}"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="{% static 'js/metisMenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'js/metisMenu/metisMenu-active.js' %}"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="{% static 'js/morrisjs/raphael-min.js' %}"></script>
    <!-- <script src="{% static 'js/morrisjs/morris.js' %}"></script> -->
    <!-- <script src="{% static 'js/morrisjs/morris-active.js' %}"></script> -->
    <!-- morrisjs JS
		============================================ -->
    <script src="{% static 'js/sparkline/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'js/sparkline/jquery.charts-sparkline.js' %}"></script>
    <script src="{% static 'js/sparkline/sparkline-active.js' %}"></script>
    <!-- calendar JS
		============================================ -->
    <script src="{% static 'js/calendar/moment.min.js' %}"></script>
    <script src="{% static 'js/calendar/fullcalendar.min.js' %}"></script>
    <script src="{% static 'js/calendar/fullcalendar-active.js' %}"></script>
    <!-- plugins JS
		============================================ -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <!-- main JS
		============================================ -->
    <script src="{% static 'js/main.js' %}"></script>
    <!-- tawk chat JS
		============================================ -->
    <!-- <script src="{% static 'js/tawk-chat.js' %}"></script> -->
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/toastr.min.js' %}"></script>
    <script>
    toastr.options = {
      "closeButton": false,
      "debug": false,
      "newestOnTop": false,
      "progressBar": false,
      "positionClass": "toast-bottom-right",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }
        selectedParticipant='';
        $(document).on('click', '.card-image', function() {
          console.log("Last selected: " + selectedParticipant);
          console.log($(this).find('img').data('user-id'));
          $(this).parent().find('.checkbox input').trigger('click');
          if (selectedParticipant == $(this).find('img').data('user-id')) {
            selectedParticipant='';
            return;
          }
          if (selectedParticipant != '') {
            $('.checkbox[data-id=' + selectedParticipant + ']').find('input').trigger('click');
          }
          selectedParticipant = $(this).find('img').data('user-id');
        })
        function participantTarget(clicked_id){
            //alert(clicked_id);
        }
        var menuUser = new BootstrapMenu('.action-btn', {
            menuEvent: 'click', // default value, can be omitted
            menuSource: 'element',
            menuPosition: 'belowLeft', // default value, can be omitted
            fetchElementData: function($clickedElem) {
                var inputID = $clickedElem.data("userId");
                return [inputID];
            },
            actions: [
                {
                    name: 'Select as Target',
                    onClick: function(inputData) {
                        $($('div[data-id="' + inputData[0] +'"]')[0]).find('.card-image').trigger('click');
                    }
                },{
                    name: "Purchaser's History List",
                    onClick: function(inputData) {
                        purchaserIdent = inputData[0];
                        $.confirm({
                            title: 'Confirm!',
                            content: ' View Purchasing List of ' + purchaserIdent,
                            buttons: {
                                confirm: function () {
                                    var csrf_token  = document.getElementsByName('csrfmiddlewaretoken')[0].value;
                                    var request     = $.ajax({
                                        url     : "{% url 'blNodeGUI_central:ajax_purchaserHistoryQuery'%}",
                                        type    : "POST",
                                        data    : {purchaserIdent: purchaserIdent, csrfmiddlewaretoken: csrf_token},
                                        success : function(data){
                                            var res_obj = jQuery.parseJSON(data);
                                            console.log(res_obj);
                                            var htmlGen='';
                                            for (i = 0; i < res_obj.length; i++) {
                                                htmlGen+='<tr><td>'+res_obj[i][0]+'</td><td>'+res_obj[i][1]+'</td><td>'+res_obj[i][2]+'</td><td>'+res_obj[i][4]+'</td></tr>'
                                            }
                                            $("#tradingHistoryTable").html(htmlGen);
                                            $('#modalHistoryList').modal('show');
                                        },
                                    });
                                },
                                cancel: function () {
                                    $.alert('Canceled!');
                                    return;
                                }
                            }
                        });
                    }
                }
            ]
        });
        var menu1 = new BootstrapMenu('.small-card-action', {
            menuEvent: 'click', // default value, can be omitted
            menuSource: 'element',
            menuPosition: 'belowLeft', // default value, can be omitted
            fetchElementData: function($clickedElem) {
                var inputID = $clickedElem.data("iconId");
                var inputPayee = $clickedElem.data("payeeId");
                return [inputID, inputPayee];
            },
            actions: [
                {
                    name: 'Purchase',
                    onClick: function(inputData) {
                        if (selectedParticipant==''){
                            toastr.error("Please select a target!");
                            return;
                        }
                        $.confirm({
                            title: 'Confirm!',
                            content: selectedParticipant+' will purchase '+inputData[0],
                            buttons: {
                                confirm: function () {
                                    var x = document.getElementById("historyTable");
                                    x.style.display = "block";
                                    var dataName    = inputData[0];
                                    var payee       = inputData[1];
                                    var csrf_token  = document.getElementsByName('csrfmiddlewaretoken')[0].value;
                                    var request     = $.ajax({
                                        url     : "{% url 'blNodeGUI_central:ajax_dataPurchase'%}",
                                        type    : "POST",
                                        data    : {selectedParticipant: selectedParticipant, dataName: dataName, csrfmiddlewaretoken: csrf_token},
                                        success : function(data){
                                          toastr.success("Successfully purchased!");
                                            $('.submitBtn').removeAttr("disabled");
                                            $('.modal-body').css('opacity', '');
                                        },
                                    });
                                },
                                cancel: function () {
                                    toastr.warning("Canceled!");
                                    return;
                                }
                            }
                        });
                    }
                },{
                    name: 'Access Verification',
                    onClick: function(inputData) {
                        var dataName    = inputData[0];
                        var payee       = inputData[1];
                        if (selectedParticipant==''){
                            toastr.error("Please select a target!");
                            return;
                        }
                        $.confirm({
                            title: 'Confirm!',
                            content: ' Checking Access permission on '+ dataName + ' of ' + selectedParticipant,
                            buttons: {
                                confirm: function () {
                                    console.log(dataName, payee, selectedParticipant)
                                    var csrf_token  = document.getElementsByName('csrfmiddlewaretoken')[0].value;
                                    var request     = $.ajax({
                                        url     : "{% url 'blNodeGUI_central:ajax_dataPurchaseVerify'%}",
                                        type    : "POST",
                                        data    : {selectedParticipant: selectedParticipant, dataName: dataName, payee: payee, csrfmiddlewaretoken: csrf_token},
                                        success : function(data){
                                            var res_obj = jQuery.parseJSON(data);
                                            if(res_obj.result){
                                                toastr.success("Successfully Verified!");
                                            }else{
                                                toastr.error("Failed to Verified!");
                                            }
                                        },
                                    });
                                },
                                cancel: function () {
                                    toastr.warning("Canceled!");
                                    return;
                                }
                            }
                        });
                    }
                },{
                    name: 'Access-Allowed List',
                    onClick: function(inputData) {
                        var dataName    = inputData[0];
                        var payee       = inputData[1];
                        console.dir(inputData);
                        $.confirm({
                            title: 'Confirm!',
                            content: ' View Access-Allowed List of ' + dataName,
                            buttons: {
                                confirm: function () {
                                    console.log(dataName, payee, selectedParticipant)
                                    var csrf_token  = document.getElementsByName('csrfmiddlewaretoken')[0].value;
                                    var request     = $.ajax({
                                        url     : "{% url 'blNodeGUI_central:ajax_dataPurchaserListQuery'%}",
                                        type    : "POST",
                                        data    : {dataName: dataName, payee: payee, csrfmiddlewaretoken: csrf_token},
                                        success : function(data){
                                            var res_obj = jQuery.parseJSON(data);
                                            console.log(res_obj);
                                            htmlGen='';
                                            for (i = 0; i < res_obj.length; i++) {
                                              htmlGen += '<tr><td><img class="img-responsive" style="width: 50px;" src="'+res_obj[i][2]+'" alt="UserIcon"></td><td style="vertical-align: middle; font-size: 16px;"> '+res_obj[i][1]+'</td></tr>'
                                                // htmlGen+='<div class="row"><div class="col-md-2"><img class="img-responsive" src="'+res_obj[i][2]+'" alt="UserIcon"></div><div class="col-md-10 ml-auto">'+res_obj[i][1]+'</div></div>';
                                            }
                                            $('#AccessAllowedList').html(htmlGen);
                                            $('#modalDataAccessAllowList').modal('show');
                                        },
                                    });
                                },
                                cancel: function () {
                                    toastr.warning("Canceled!");
                                    return;
                                }
                            }
                        });
                    }
                }
            ]
        });
        function purchaseData(clicked_id){
            if (selectedParticipant==''){
                alert("Target is not selected !!!");
                return;
            }
            $.confirm({
                title: 'Confirm!',
                content: selectedParticipant+' will purchase '+clicked_id,
                buttons: {
                    confirm: function () {
                        var x = document.getElementById("historyTable");
                        x.style.display = "block";
                        var dataName    = clicked_id;
                        var csrf_token  = document.getElementsByName('csrfmiddlewaretoken')[0].value;
                        var request     = $.ajax({
                            url     : "{% url 'blNodeGUI_central:ajax_dataPurchase'%}",
                            type    : "POST",
                            data    : {selectedParticipant: selectedParticipant, dataName: dataName, csrfmiddlewaretoken: csrf_token},
                            success : function(data){
                                alert("Successfully purchased !!!");
                                $('.submitBtn').removeAttr("disabled");
                                $('.modal-body').css('opacity', '');
                            },
                        });
                    },
                    cancel: function () {
                        $.alert('Canceled!');
                        return;
                    }
                    /*,
                    somethingElse: {
                        text: 'Something else',
                        btnClass: 'btn-blue',
                        keys: ['enter', 'shift'],
                        action: function(){
                            $.alert('Something else?');
                        }
                    }
                    */
                }
            });

        }
        function submitDataRegForm(){
            if (selectedParticipant==''){
                toastr.error("Please select a target!");
                return;
            }
            var reg = /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;
            var dataName = $('#inputDataName').val() == undefined ? '' : $("#inputDataName").val().trim();
            var dataHash = $('#inputDataHash').val() == undefined ? '' : $("#inputDataHash").val().trim();
            var dataURL = $('#inputDataURL').val() == undefined ? '' : $("#inputDataURL").val().trim();
            var dataPrice = $('#inputDataPrice').val() == undefined ? '' : $("#inputDataPrice").val().trim();
            if(dataName == '' ){
                toastr.error("Please select a Please enter Data Name!");
                $('#inputDataName').focus();
                return false;
            }else if(dataHash == '' ){
                toastr.error("Please select a Please enter Data Hash!");
                $('#inputDataHash').focus();
                return false;
            }else if(dataURL == '' ){
                toastr.error("Please select a Please enter Data URL!");
                $('#inputDataURL').focus();
                return false;
            }
            else if(dataPrice == '' ){
                toastr.error("Please select a Please enter Data Price!");
                $('#inputDataPrice').focus();
                return false;
            }else{
                var csrf_token  = document.getElementsByName('csrfmiddlewaretoken')[0].value;
                $.ajax({
                    type:'POST',
                    url : "{% url 'blNodeGUI_central:ajax_dataRegister'%}",
                    data:{selectedParticipant: selectedParticipant, dataNameReg: dataName, dataHashReg: dataHash, dataUrlReg: dataURL, dataPriceReg: dataPrice, csrfmiddlewaretoken: csrf_token},
                    beforeSend: function () {
                        $('.submitBtn').attr("disabled","disabled");
                        $('.modal-body').css('opacity', '.5');
                    },
                    success:function(msg){
                        var res_obj = jQuery.parseJSON(msg);
                        if(res_obj.result){
                            toastr.success("Successfully registered!");
                        }else{
                            toastr.error("Failed to register!")
                        }
                        $('.submitBtn').removeAttr("disabled");
                        $('.modal-body').css('opacity', '');
                    }
                });
            }
        }


            $("#tradingHistoryButt").click(function(e) {
              e.preventDefault();
              console.log("Selected: " + selectedParticipant);
                if (selectedParticipant==''){
                    toastr.error("Please select a target!");
                    return;
                }
                var csrf_token  = document.getElementsByName('csrfmiddlewaretoken')[0].value;
                var request     = $.ajax({
                    url     : "{% url 'blNodeGUI_central:ajax_purchasingHistoryQuery'%}",
                    type    : "POST",
                    data    : {selectedParticipant: selectedParticipant, csrfmiddlewaretoken: csrf_token},
                    success : function(data){
                        var res_obj = jQuery.parseJSON(data);
                        var htmlGen='';
                        for (i = 0; i < res_obj.length; i++) {
                            htmlGen+='<tr><td>'+res_obj[i][0]+'</td><td>'+res_obj[i][1]+'</td><td>'+res_obj[i][2]+'</td><td>'+res_obj[i][4]+'</td></tr>'
                        }
                        $("#tradingHistoryTable").html(htmlGen);
                        $('#modalHistoryList').modal('show');
                    },
                });
            });
            function ajax_BCUserInfoQuery(){
                var csrf_token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
                var request = $.ajax({
                    url: "{% url 'blNodeGUI_central:ajax_BCUserInfoQuery' %}",
                    type: "POST",
                    data: {csrfmiddlewaretoken: csrf_token },
                    success: function(data) {
                      console.dir(jQuery.parseJSON(data));
                        var res_obj = jQuery.parseJSON(data);
                        var htmlGen='';
                        var purchasingDataList_html='';
                        for (i = 0; i < res_obj.bcUserDetail.length; i++) {
                            htmlGen +=  '   <div class=" col-md-3">  '  +
           '<i class="fa fa-ellipsis-v action-btn" aria-hidden="true" data-user-id="' + res_obj.bcUserDetail[i].userIdent + '"></i>' +
           '                   <div class="card" data-id="'+res_obj.bcUserDetail[i].userIdent+'">  '  +
           '                     <div class="checkbox" data-id="'+res_obj.bcUserDetail[i].userIdent+'">  '  +
           '                       <label>  '  +
           '                         <input type="checkbox" value="">  '  +
           '                         <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>  '  +
           '                       </label>  '  +
           '                     </div>  '  +
           '                     <div class="card-image">  '  +
           '                       <img class="img-responsive" id="'+res_obj.bcUserDetail[i].userIdent+'" data-user-id="'+res_obj.bcUserDetail[i].userIdent+'" src="'+res_obj.bcUserDetail[i].userImage+'">  '  +
           '                     </div>  '  +
           '                     <div class="card-title">  '  +
           '                       <h4>'+res_obj.bcUserDetail[i].userName+'</h4>  '  +
           '                     </div>  '  +
           '                     <div class="card-title">  '  +
           '                       <h4>$'+res_obj.bcUserDetail[i].balance+'</h4>  '  +
           '                     </div>  '  +
           '                     <div class="card-content">  ';
                            if (res_obj.bcUserDetail[i].purchasedAppList.length != 0) {
                              htmlGen += '<ul class="container flex">';
                              for (j = 0; j < res_obj.bcUserDetail[i].purchasedAppList.length; j++) {
                                htmlGen += '<li class="item flex-item consumedApp"><img class="img-responsive" src="'+res_obj.bcUserDetail[i].purchasedAppList[j][4]+'"></li>';
                              }
                              htmlGen += "</ul>";
                            }
                            htmlGen += '                     </div>  '  +
                            '                   </div>  '  +
                            '                </div>  ' ;
                            $("#participantsList").html(htmlGen);
                            // if (selectedParticipant==res_obj.bcUserDetail[i].userIdent){
                            //     htmlGen += ' style="border: 5px solid red;"';
                            // }
                        }
                        var htmlGen=''
                        for (i = 0; i < res_obj.applist.length; i++) {
                           htmlGen +=  '   <div class="col-sm-2 software">  '  +
                           '                   <i class="fa fa-ellipsis-v small-card-action" aria-hidden="true" data-icon-id="'+res_obj.applist[i][3]+'" data-payee-id="'+res_obj.applist[i][8]+'"></i>  '  +
                           '                   <div class="item-img">  '  +
                           '                     <img class="img-responsive" data-id="'+res_obj.applist[i][3]+'" data-icon-id="'+res_obj.applist[i][3]+'" data-payee-id="'+res_obj.applist[i][8]+'" src="'+res_obj.applist[i][6]+'">  '  +
                           '                   </div>  '  +
                           '                   <h3 class="text-center">'+res_obj.applist[i][3]+'</h3>  '  +
                           '                   <div class="item-money">  '  +
                           '                     <h3 class="text-center">Price:  '+res_obj.applist[i][2]+' <img src="/static/img/hii_icons/eth_coin.png" alt=""></h3>  '  +
                           '                     <h3 class="text-center">Total:  '+res_obj.applist[i][7]+' <img src="/static/img/hii_icons/total.png" alt=""></h3>  '  +
                           '                   </div>  '  +
                           '                </div>  ' ;
                        }
                        $("#availableAppList").html(htmlGen);
                        if (selectedParticipant != '') {
                          $('.checkbox[data-id=' + selectedParticipant + ']').find('input').trigger('click');
                        }
                    },
                });
            }

            function system_statistics_callback() {
                ajax_BCUserInfoQuery();
                setTimeout(system_statistics_callback, 5000);
            }

            ajax_BCUserInfoQuery();
            setTimeout(system_statistics_callback, 5000);

    </script>
</body>
</html>
