
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
<!-- link rel="stylesheet" type="text/css" href="{% static 'css/navbar-fixed-left.min.css' %}" -->
<link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/core-style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/blNodeGUI.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/color.css' %}">
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

<!-- script src="{% static 'js/web3.js/dist/web3.min.js' %}"></script -->
{% block main_body %}
{% csrf_token %}

<!-- div id="tg-homeslider" class="tg-homeslider tg-haslayout owl-carousel owl-loaded owl-drag" -->
<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <figure class="tg-authorimg" id="refreshButt"><a href="javascript:void(0);"><img src="{% static '/images/users/Blockchain-icon.jpg' %}" alt="image description"></a></figure>
        </div>

        <ul class="list-unstyled components">
            <li>
                <!-- a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Node Info</a -->
                <a href="#" data-toggle="collapse" aria-expanded="false" id="nodeInfo_link">Node Info</a>
            </li>
            <li>
                <a href="#" data-toggle="collapse" aria-expanded="false" id="dataReg_link">Data Registry</a>
            </li>
            <li>
                <a href="#" data-toggle="collapse" aria-expanded="false" id="dataPurchase_link">Data Purchase</a>
            </li>
            <li>
                <a href="#" data-toggle="collapse" aria-expanded="false" id="purchaserList_link">Purchaser List</a>
            </li>
            <li>
                <a href="#" data-toggle="collapse" aria-expanded="false" id="purchaserVerify_link">Verify Purchaser</a>
            </li>
            <li>
                <a href="#" data-toggle="collapse" aria-expanded="false" id="purchaserHistory_link">Purchaser's History</a>
            </li>
            <li>
                <a href="#" data-toggle="collapse" aria-expanded="false" id="allHistory_link">Purchasing History</a>
            </li>
            <li>
                <a href="/blNodeGUI_central">Central Monitor</a>
            </li>
        </ul>
    </nav>
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>

            </div>
        </nav>
        <div class="container" id="nodeInfo">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1 col-lg-8 col-lg-push-2">
                    <div class="tg-slidercontent">
                        <div class="tg-postbook">
                            <h2><b>NODE IDENT </b></h2><h3>{{coinbase}}</h3>
                            <h2><b>BALANCE </b></h2><h3>{{ether}}</h3>
                            <h2><b>NUMBER of BLOCK </b></h2><h3>{{blocknumber}}</h3>
                            <h2><b>HASH RATE </b></h2><h3>{{hashrate}}</h3>
                            <!-- div class="tg-description">
                                <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore tolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoiars nisi ut aliquip commodo.</p>
                            </div>
                            <div class="tg-btns">
                                <a class="tg-btn" href="javascript:void(0);">buy now</a>
                                <a class="tg-btn" href="javascript:void(0);">read more</a>
                            </div -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- div class="container" id="dcUserReg">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-sectionhead">
                        <h2>Registering User</h2>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-formtheme tg-formcontactus">
                        <fieldset>
                            <div class="form-group">
                                <input type="text" id="dcUserNameReg" class="form-control" placeholder="User Name">
                            </div>
                            <div class="form-group">
                                <input type="text" id="dcUserImageURLReg" class="form-control" placeholder="User Image URL">
                            </div>
                            <div class="form-group">
                                <button id="dcUserRegButt" class="tg-btn tg-active">Register</button>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <table class="table dataListTable">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">User Name</th>
                                <th scope="col">User Account</th>
                                <th scope="col">User Image URL</th>
                            </tr>
                        </thead>
                        <tbody id="dcUserList">
                        </tbody>
                    </table>
                </div>
            </div>
        </div -->
        <div class="container" id="dataReg">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-sectionhead">
                        <h2>Registering Data/Software</h2>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-formtheme tg-formcontactus">
                        <fieldset>
                            <div class="form-group">
                                <input type="text" id="dataNameReg" class="form-control" placeholder="Data Name">
                            </div>
                            <div class="form-group">
                                <input type="text" id="dataURLReg" class="form-control" placeholder="Data URL">
                            </div>
                            <div class="form-group">
                                <input type="text" id="dataHashReg" class="form-control" placeholder="Data Hash">
                            </div>
                            <div class="form-group">
                                <input type="text" id="dataPriceReg" class="form-control" placeholder="Price">
                            </div>
                            <!-- div class="form-group tg-hastextarea">
                                <textarea placeholder="Comment"></textarea>
                            </div -->
                            <div class="form-group">
                                <button id="dataRegButt" class="tg-btn tg-active">Register</button>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <h2>Products</h2>
                    </div>
                    <div class="row" id="product_list">
                        <div class="col-md-2 data_info" id="map_manager">
                            <img src='http://115.78.1.103:8503/map_manager.png'>
                            <div class="overlay">
                                <div class="text">
                                    Map Mananger
                                </div>
                                <div class="text">
                                    1000 Ether
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 data_info" id="map navigator">
                            <img src='http://115.78.1.103:8503/map_navigation.png'>
                            <div class="overlay">
                                <div class="text">
                                    Map Navigator
                                </div>
                                <div class="text">
                                    1000 Ether
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 data_info" id="driving_safety">
                            <img src='http://115.78.1.103:8503/driving_safety.png'>
                            <div class="overlay">
                                <div class="text">
                                    Driving Safety
                                </div>
                                <div class="text">
                                    1000 Ether
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 data_info" id="whatever">
                            <img src='http://115.78.1.103:8503/jackal.jpg'>
                            <div class="overlay">
                                <div class="text">
                                    Whatever
                                </div>
                                <div class="text">
                                    1000 Ether
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <table class="table dataListTable">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Data Name</th>
                                <th scope="col">Data Price</th>
                                <th scope="col">Data URL</th>
                                <th scope="col">Provider Ident</th>
                            </tr>
                        </thead>
                        <tbody id="dataList">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container" id="dataPurchase">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-sectionhead">
                        <h2>Data Purchase</h2>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <form class="tg-formtheme tg-formcontactus">
                        <fieldset>
                            <div class="form-group">
                                <label for="purchasingDataList">Data Name List</label>
                                <select class="form-control" id="purchasingDataList">
                                </select>
                            </div>
                            <!-- div class="form-group tg-hastextarea">
                                <textarea placeholder="Comment"></textarea>
                            </div -->
                        </fieldset>
                    </form>
                    <div class="form-group">
                        <button id="dataPurchaseButt" class="tg-btn tg-active">Purchase</button>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <table class="table dataListTable">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Purchaser List</th>
                            </tr>
                        </thead>
                        <tbody id="purchaserList">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container" id="data2PurchaserList">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-sectionhead">
                        <h2>Data's Purchaser List</h2>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
                    <form class="tg-formtheme tg-formcontactus">
                        <fieldset>
                            <div class="form-group">
                                <label for="dataPurchaserList">Data Name List</label>
                                <select class="form-control" id="dataPurchaserList">
                                </select>
                            </div>
                            <!-- div class="form-group tg-hastextarea">
                                <textarea placeholder="Comment"></textarea>
                            </div -->
                        </fieldset>
                    </form>
                    <div class="form-group">
                        <button id="dataPurchaserListButt" class="tg-btn tg-active">View</button>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
                    <table class="table dataListTable">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Purchaser List</th>
                            </tr>
                        </thead>
                        <tbody id="dataPurchaserResultList">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container" id="purchaserVerify">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-sectionhead">
                        <h2>Verification Purchaser</h2>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
                    <div class="form-group">
                        <input type="text" id="purchaserIdentVerify" class="form-control" placeholder="Purchaser Ident">
                    </div>
                    <div class="form-group">
                                <label for="dataPurchaserVerifyList">Data Name List</label>
                                <select class="form-control" id="dataPurchaserVerifyList">
                                </select>
                            </div>
                    <div class="form-group">
                        <button id="dataPurchaserVerifyButt" class="tg-btn tg-active">View</button>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
                    <table class="table dataListTable">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Purchaser List</th>
                            </tr>
                        </thead>
                        <tbody id="dataPurchaserVerifyResultList">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container" id="purchaserHistory">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-sectionhead">
                        <h2>Purchaser History</h2>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
                    <div class="form-group">
                        <input type="text" id="purchaserIdentHistory" class="form-control" placeholder="Purchaser Ident">
                    </div>
                    <div class="form-group">
                        <button id="purchaserHistoryButt" class="tg-btn tg-active">View</button>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
                    <table class="table dataListTable">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Purchaser Ident</th>
                                <th scope="col">Data Name</th>
                                <th scope="col">Data URL</th>
                                <!-- th scope="col">Data Price</th>
                                <th scope="col">Provider Ident</th -->
                            </tr>
                        </thead>
                        <tbody id="purchaserHistoryResultList">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container" id="tradingHistory">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-sectionhead">
                        <h2>Purchasing History</h2>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
                    <div class="form-group">
                        <button id="purchasingHistoryButt" class="tg-btn tg-active">View</button>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
                    <table class="table dataListTable">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Purchaser Ident</th>
                                <th scope="col">Data Name</th>
                                <th scope="col">Data URL</th>
                                <!-- th scope="col">Data Price</th>
                                <th scope="col">Provider Ident</th -->
                            </tr>
                        </thead>
                        <tbody id="purchasingHistoryResult">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block footer_javascript %}
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <!-- script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}" ></script-->
    <!-- script src="{% static 'js/jquery-3.3.1.js' %}"></script -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- script src="{% static 'js/plugins.js' %}"></script -->
    <script src="{% static 'js/classy-nav.min.js' %}"></script>
    <!-- script src="{% static 'js/active.js' %}"></script -->
    <script>
        $(document).ready(function(){
            $("#nodeInfo_link").click(function() {
                $("#nodeInfo").css('display','block');
                $("#dataReg").css('display','none');
                $("#dataPurchase").css('display','none');
                $("#data2PurchaserList").css('display','none');
                $("#purchaserVerify").css('display','none');
                $("#purchaserHistory").css('display','none');
                $("#tradingHistory").css('display','none');
            });
            $("#dataReg_link").click(function() {
                $("#nodeInfo").css('display','none');
                $("#dataReg").css('display','block');
                $("#dataPurchase").css('display','none');
                $("#data2PurchaserList").css('display','none');
                $("#purchaserVerify").css('display','none');
                $("#purchaserHistory").css('display','none');
                $("#tradingHistory").css('display','none');
            });
            $("#dataPurchase_link").click(function() {
                $("#nodeInfo").css('display','none');
                $("#dataReg").css('display','none');
                $("#dataPurchase").css('display','block');
                $("#data2PurchaserList").css('display','none');
                $("#purchaserVerify").css('display','none');
                $("#purchaserHistory").css('display','none');
                $("#tradingHistory").css('display','none');
            });
            $("#purchaserList_link").click(function() {
                $("#nodeInfo").css('display','none');
                $("#dataReg").css('display','none');
                $("#dataPurchase").css('display','none');
                $("#data2PurchaserList").css('display','block');
                $("#purchaserVerify").css('display','none');
                $("#purchaserHistory").css('display','none');
                $("#tradingHistory").css('display','none');
            });
            $("#purchaserVerify_link").click(function() {
                $("#nodeInfo").css('display','none');
                $("#dataReg").css('display','none');
                $("#dataPurchase").css('display','none');
                $("#data2PurchaserList").css('display','none');
                $("#purchaserVerify").css('display','block');
                $("#purchaserHistory").css('display','none');
                $("#tradingHistory").css('display','none');
            });
            $("#purchaserHistory_link").click(function() {
                $("#nodeInfo").css('display','none');
                $("#dataReg").css('display','none');
                $("#dataPurchase").css('display','none');
                $("#data2PurchaserList").css('display','none');
                $("#purchaserVerify").css('display','none');
                $("#purchaserHistory").css('display','block');
                $("#tradingHistory").css('display','none');
            });
            $("#allHistory_link").click(function() {
                $("#nodeInfo").css('display','none');
                $("#dataReg").css('display','none');
                $("#dataPurchase").css('display','none');
                $("#data2PurchaserList").css('display','none');
                $("#purchaserVerify").css('display','none');
                $("#purchaserHistory").css('display','none');
                $("#tradingHistory").css('display','block');
            });
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
            $("#dcUserRegButt").click(function() {
                var dcUserNameReg    = $('#dcUserNameReg').val();
                var dcUserImageURLReg     = $('#dcUserImageURLReg').val();
                //console.log(dataNameReg, dataHashReg, dataUrlReg, dataPriceReg)
                var csrf_token  = document.getElementsByName('csrfmiddlewaretoken')[0].value;
                var request     = $.ajax({
                    url     : "{% url 'blMan:ajax_dcUserRegister'%}",
                    type    : "POST",
                    data    : {dcUserNameReg: dcUserNameReg, dcUserImageURLReg: dcUserImageURLReg, csrfmiddlewaretoken: csrf_token},
                    success : function(data){
                        alert("Successfully registered !!!");
                    },
                });
            });
            $("#dataRegButt").click(function() {
                var dataNameReg    = $('#dataNameReg').val();
                var dataHashReg    = $('#dataHashReg').val();
                var dataUrlReg     = $('#dataURLReg').val();
                var dataPriceReg   = $('#dataPriceReg').val();
                console.log(dataNameReg, dataHashReg, dataUrlReg, dataPriceReg)
                var csrf_token  = document.getElementsByName('csrfmiddlewaretoken')[0].value;
                var request     = $.ajax({
                    url     : "{% url 'blMan:ajax_dataRegister'%}",
                    type    : "POST",
                    data    : {dataNameReg: dataNameReg, dataHashReg: dataHashReg, dataUrlReg: dataUrlReg, dataPriceReg: dataPriceReg, csrfmiddlewaretoken: csrf_token},
                    success : function(data){
                        alert("Successfully registered !!!");
                    },
                });
            });
            $('.data_info_image').click(function(element) {
                var answerid = $(this).attr('id');
                
                alert("hello world");
                alert(answerid);
                return;
                var dataName    = $('#purchasingDataList').val();
                console.log(dataName)
                var csrf_token  = document.getElementsByName('csrfmiddlewaretoken')[0].value;
                var request     = $.ajax({
                    url     : "{% url 'blMan:ajax_dataPurchase'%}",
                    type    : "POST",
                    data    : {dataName: dataName, csrfmiddlewaretoken: csrf_token},
                    success : function(data){
                        alert("Successfully purchased !!!");
                    },
                });
            });
            $("#dataPurchaseButt").click(function() {
                var dataName    = $('#purchasingDataList').val();
                //console.log(dataName)
                var csrf_token  = document.getElementsByName('csrfmiddlewaretoken')[0].value;
                var request     = $.ajax({
                    url     : "{% url 'blMan:ajax_dataPurchase'%}",
                    type    : "POST",
                    data    : {dataName: dataName, csrfmiddlewaretoken: csrf_token},
                    success : function(data){
                        alert("Successfully purchased !!!");
                    },
                });
            });
            $("#dataPurchaserListButt").click(function() {
                var dataName    = $('#dataPurchaserList').val();
                //console.log(dataName)
                var csrf_token  = document.getElementsByName('csrfmiddlewaretoken')[0].value;
                var request     = $.ajax({
                    url     : "{% url 'blMan:ajax_dataPurchaserListQuery'%}",
                    type    : "POST",
                    data    : {dataName: dataName, csrfmiddlewaretoken: csrf_token},
                    success : function(data){
                        //console.log(data)
                        var res_obj = jQuery.parseJSON(data);
                        var htmlGen='';
                        for (i = 0; i < res_obj.length; i++) {
                            //htmlGen+="<div class='grid_row'><div class='purchaserIndex'>"+res_obj[i][0]+"</div><div class='purchaserIdent'>"+res_obj[i][1]+"</div></div>"
                            htmlGen+='<tr><th scope="col"><span>'+res_obj[i][0]+'</span></th><th scope="col"><span>'+res_obj[i][1]+'</span></th></tr>'
                        }
                        $("#dataPurchaserResultList").html(htmlGen);
                    },
                });
            });
            $("#dataPurchaserVerifyButt").click(function() {
                var purchaserIdent    = $('#purchaserIdentVerify').val();
                var dataName    = $('#dataPurchaserVerifyList').val();
                //console.log(dataName)
                var csrf_token  = document.getElementsByName('csrfmiddlewaretoken')[0].value;
                var request     = $.ajax({
                    url     : "{% url 'blMan:ajax_dataPurchaseVerify'%}",
                    type    : "POST",
                    data    : {dataName: dataName, purchaserIdent: purchaserIdent, csrfmiddlewaretoken: csrf_token},
                    success : function(data){
                        console.log(data)
                        var res_obj = jQuery.parseJSON(data);
                        var htmlGen='';
                        if(res_obj['result']){
                            htmlGen+="<h2>Purchaser Ident is Authorized</h2>"
                        }else{
                            htmlGen+="<h2>Purchaser Ident is not Authorized</h2>"
                        }
                        $("#dataPurchaserVerifyResultList").html(htmlGen);
                    },
                });
            });
            function ajax_dataListQuery(){
                var csrf_token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
                var request = $.ajax({
                    url: "{% url 'blMan:ajax_dataListQuery' %}",
                    type: "POST",
                    data: {csrfmiddlewaretoken: csrf_token },
                    success: function(data) {
                        console.log(data)
                        var res_obj = jQuery.parseJSON(data);
                        var htmlGen='';
                        var htmlGen1='';
                        var purchasingDataList_html='';
                        for (i = 0; i < res_obj.length; i++) {
                            htmlGen1+="<div class='col-md-2 data_info'><a href='#'  class='data_info_image' id='"+res_obj[i][3]+"'><img src='"+res_obj[i][6]+"'><div class='overlay'><div class='text'>"+res_obj[i][3]+"</div><div class='text'>"+res_obj[i][2]+" Wei</div></div></a></div>"
                            htmlGen+='<tr><th scope="col"><span>'+res_obj[i][0]+'</span></th><th scope="col"><span>'+res_obj[i][3]+'</span></th><th scope="col"><span>'+res_obj[i][2]+'</span></th><th scope="col"><span>'+res_obj[i][5]+'</span></th><th scope="col"><span>'+res_obj[i][1]+'</span></th></tr>'
                            purchasingDataList_html+="<option>"+res_obj[i][3]+"</option>"
                        }
                        console.log(htmlGen)
                        console.log(purchasingDataList_html)
                        
                        $("#product_list").html(htmlGen1);
                        $("#dataList").html(htmlGen);
                        $("#purchasingDataList").html(purchasingDataList_html);
                        $("#dataPurchaserList").html(purchasingDataList_html);
                        $("#dataPurchaserVerifyList").html(purchasingDataList_html);
                    },
                });
            }
            
            $("#purchaserHistoryButt").click(function() {
                var purchaserIdent    = $('#purchaserIdentHistory').val();
                //console.log(dataName)
                var csrf_token  = document.getElementsByName('csrfmiddlewaretoken')[0].value;
                var request     = $.ajax({
                    url     : "{% url 'blMan:ajax_purchaserHistoryQuery'%}",
                    type    : "POST",
                    data    : {purchaserIdent: purchaserIdent, csrfmiddlewaretoken: csrf_token},
                    success : function(data){
                        console.log(data)
                        var res_obj = jQuery.parseJSON(data);
                        var htmlGen='';
                        for (i = 0; i < res_obj.length; i++) {
                            //htmlGen+="<div class='grid_row'><div class='purchaserIndex'>"+res_obj[i][1]+"</div><div class='purchaserIdent'>"+res_obj[i][2]+"</div><div class='purchaserIndex'>"+res_obj[i][3]+"</div><div class='purchaserIndex'>"+res_obj[i][4]+"</div></div>"
                            //htmlGen+='<tr><th scope="col"><span>'+res_obj[i][0]+'</span></th><th scope="col"><span>'+res_obj[i][1]+'</span></th><th scope="col"><span>'+res_obj[i][2]+'</span></th><th scope="col"><span>'+res_obj[i][4]+'</span></th><th scope="col"><span>'+res_obj[i][5]+'</span></th><th scope="col"><span>'+res_obj[i][6]+'</span></th></tr>'
                            htmlGen+='<tr><th scope="col"><span>'+res_obj[i][0]+'</span></th><th scope="col"><span>'+res_obj[i][1]+'</span></th><th scope="col"><span>'+res_obj[i][2]+'</span></th><th scope="col"><span>'+res_obj[i][4]+'</span></th></tr>'
                        }
                        $("#purchaserHistoryResultList").html(htmlGen);
                    },
                });
            });
            
            $("#purchasingHistoryButt").click(function() {
                //var purchaserIdent    = $('#purchaserIdent_history').val();
                //console.log(dataName)
                var csrf_token  = document.getElementsByName('csrfmiddlewaretoken')[0].value;
                var request     = $.ajax({
                    url     : "{% url 'blMan:ajax_purchasingHistoryQuery'%}",
                    type    : "POST",
                    data    : {csrfmiddlewaretoken: csrf_token},
                    success : function(data){
                        console.log(data)
                        var res_obj = jQuery.parseJSON(data);
                        var htmlGen='';
                        for (i = 0; i < res_obj.length; i++) {
                            //htmlGen+="<div class='grid_row'><div class='purchaserIndex'>"+res_obj[i][0]+"</div><div class='purchaserIdent'>"+res_obj[i][1]+"</div><div class='purchaserIndex'>"+res_obj[i][2]+"</div><div class='purchaserIndex'>"+res_obj[i][4]+"</div></div>"
                            //htmlGen+='<tr><th scope="col"><span>'+res_obj[i][0]+'</span></th><th scope="col"><span>'+res_obj[i][1]+'</span></th><th scope="col"><span>'+res_obj[i][2]+'</span></th><th scope="col"><span>'+res_obj[i][4]+'</span></th><th scope="col"><span>'+res_obj[i][5]+'</span></th><th scope="col"><span>'+res_obj[i][6]+'</span></th></tr>'
                            htmlGen+='<tr><th scope="col"><span>'+res_obj[i][0]+'</span></th><th scope="col"><span>'+res_obj[i][1]+'</span></th><th scope="col"><span>'+res_obj[i][2]+'</span></th><th scope="col"><span>'+res_obj[i][4]+'</span></th></tr>'
                        }
                        $("#purchasingHistoryResult").html(htmlGen);
                    },
                });
            });
            
            $("#refreshButt").click(function() {
                ajax_dataListQuery();
            });
            function system_statistics_callback() {
                ajax_dataListQuery();
                setTimeout(system_statistics_callback, 5000);
            }
            //setTimeout(system_statistics_callback, 5000);
        })
    </script>
{% endblock %}